.validate-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vmin;
    gap: 1rem;
    width: 100vw
}

.validate-input .input {
    display: block;
    text-align: start;
    text-wrap: wrap;
    width: 80vmin;
    aspect-ratio: 3/1;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-secondary);
    border-radius: 10px;
    color: var(--text-color);
    font-size: 18px;
    outline: none;
}

.validate-input button {
    width: 60vmin;
}

.rules-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 4vmin;
}

.rule-panel {
    display: flex;
    flex-direction: column;
    width: 80vmin;
    min-height: 20vmin;
    border-radius: 1rem;
    padding: .5rem;
    border: 1px solid var(--border-color);
    font-size: 1.5rem;
    background-color: var(--background-color-secondary);
    gap: .5rem;
}

.rule-panel label {
    border-bottom: 1px solid var(--border-color);
    font-size: 3vmax;
}

.rule-panel span {
    text-align: start;
}

.rule-panel br {
    display: block;
    content: "";
    margin-top: 2vmax;
}

.passed-rule label::before {
    content: '✔ ';
    color: limegreen;
}

.failed-rule label::before {
    content: '❌ ';
    color: red;
}