.solutions-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    list-style: none;
    gap: 2.5vw;
    max-height: 95vh;
    width: 100vw;
}

.solutions-list li {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-secondary);
    row-gap: 1rem;
}

.solutions-list button {
    width: 100%;
}

.solutions-list img {
    width: 60vmin;
}