.geoguessr {
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    gap: 2vh;
    padding: 2vmin;
}

.geoguessr .controls {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: center;
    gap: 2vmin;
}

.geoguessr .controls div {
    display: flex;
    align-self: center;
    width: fit-content;
    gap: 2vmin;
}

.geoguessr .copy-country {
    width: 100%;
}

.geoguessr-embed-wrapper {
    width: 80vw;
    height: 70vh;
    overflow: hidden;
    border-radius: 1em;
}

.geoguessr-embed {
    width: 100%;
    height: calc(100% + 85px);
    border: none;
    margin-top: -70px;
}