.home img {
	transition: .25s ease-in-out;
}

.home img:hover {
	transform: scale(1.2) rotate(72deg);
}

.home a {
	color: var(--text-color);
	text-decoration: none;
	font-weight: 500;
}

.home section {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 1.5rem;
}

@media (max-width: 639px) {
	.home section {
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

.resource {
	padding: .75vmax 1.5vmax;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: var(--text-color);
	background-color: var(--background-color-secondary);
	border: 1px solid var(--border-color);
	transition: .25s ease-in-out;
}
.resource:hover {
	filter: brightness(200%);
	transform: scale(1.1);
}

@media (prefers-color-scheme: light) {
	.resource:hover {
		filter: brightness(95%);
	}
}