header {
	display: flex;
	justify-content: flex-start;
	background-color: var(--background-color-secondary);
	border-bottom: 1px solid var(--border-color-nav);
	height: 10vh;
}

header nav {
	display: flex;
	flex-direction: row;
	gap: 4vw;
	font-size: 3vmin;
	padding-inline: 4vw;
}

header a {
	color: var(--text-color-nav);
	text-wrap: nowrap;
	font-weight: 500;
	text-decoration: none;
	transition: .25s ease-in-out;
	transform: translateY(.5vh);
	padding: 3vh 0;
}

header a:hover {
	transform: translateY(-1vh);
}

header a.active {
	transform: scale(1.2) translateY(.25vh);
}

header a.active:hover {
	transform: scale(1.2) translateY(-1vh);
}