.video-panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color-secondary);
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    width: 10rem;
    padding: .75rem 1.5rem;
    gap: 1rem;
}

.video-panel button {
    width: 100%;
}

.repeated-letters {
    list-style: none;
    padding-left: 0;
}

.repeated-letters li {
    padding: .25rem;
}