.video-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--background-color-secondary);
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    width: 25vmin;
    padding: .75em 1.5em;
    gap: 5vmin;
}

.video-panel button {
    width: 100%;
}

.repeated-letters {
    list-style: none;
    padding-left: 0;
}

.repeated-letters li {
    padding: .25rem;
}